@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,900');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,400,700');

:root {
	/* Colores */
	--gris-base : #fafafa;
	--gris-medio: #9b9b9b;
	--azul-base : #1918b0;
	/* Espaciados */
	--espaciado-principal: 80px 120px;
	/* Fuentes */
	--lato: 'Lato', sans-serif;
	--lato-sencilla: 400;
	--lato-gruesa  : 900;
	--roboto: 'Roboto Slab', serif;
	--roboto-delgada: 400;
	--roboto-ligera : 400;
	--roboto-regular: 400;
	--roboto-gruesa : 700;
	--oswaldo: 'Oswald', sans-serif;
	--oswaldo-delgada: 200;
	--oswaldo-regular: 400;
	--oswaldo-gruesa : 700;
	/* Tamaño de títulos */
	--fuente-regular: 2em;
	--fuente-mediana: 2.5em;
	--fuente-grande : 3em;
	/* Transiciones */
	--transicion: all 0.3s ease-out;
}

a {
	display        : inline-block;
	text-decoration: none;
}

button {
	background-color: transparent;
	border          : none;
	cursor          : pointer;
}

img {
	display: block;
	width  : 100%;
}

* {
	margin     : 0px;
	padding    : 0px;
	box-sizing : border-box;
	outline    : none;
}

body {
	background-color: white;
}

	body > nav {
		font-family     : 'Lato', sans-serif;
		width           : 350px;
		height          : 100vh;
		display         : flex;
		align-items     : center;
		justify-content : center;
		flex-direction  : column;
		position        : fixed;
		top             : 0px;
		left            : 0px;
		background-color: var(--gris-base);
		z-index         : 100;
	}

	body > .nav-active {
		margin-left: 0px;
	}

		body > nav > a {
			width   : auto;
			height  : 250px;
			position: absolute;
			top     : 0px;
		}

			body > nav > a > img {
				width : auto;
				height: 100%;
			}

		body > nav > ul {
			list-style: none;
			width     : 100%;
		}

			body > nav > ul > li {
				display      : block;
				width        : 100%;
				margin-bottom: 5px;
			}

			body > nav > ul > li:last-of-type {
				margin-bottom: 0px;
			}

				body > nav > ul > li > a {
					font-family   : var(--lato);
					font-weight   : var(--lato-gruesa);
					display       : block;
					width         : 100%;
					text-align    : center;
					color         : var(--gris-medio);
					text-transform: uppercase;
					padding       : 10px 0px;
					position      : relative;
					transition    : var(--transicion);
				}

					body > nav > ul > li > a > span {
						position: relative;
						z-index : 10;
					}

				body > nav > ul > li > a:hover {
					color: white;
				}

				body > nav > ul > li > a:before {
					content         : '';
					width           : 100%;
					height          : 100%;
					position        : absolute;
					top             : 0px;
					left            : -40px;
					margin-left     : -100%;
					background-color: var(--azul-base);
					transform       : skew(-10deg);
					transition      : var(--transicion);
				}

				body > nav > ul > li > a:hover:before {
					margin-left: 0px;
				}

		body > nav > ol {
			list-style: none;
			position  : absolute;
			bottom    : 40px;
			text-align: center;
		}

			body > nav > ol > li {
				display        : flex;
				align-items    : center;
				justify-content: center;
				flex-direction : column;
				margin-bottom  : 10px;
			}

			body > nav > ol > li:last-of-type {
				margin-bottom: 0px;
			}

				body > nav > ol > li > i {
					color: var(--azul-base);
				}

				body > nav > ol > li > a {
					margin-top : 5px;
					font-family: var(--roboto);
					font-weight: var(--roboto-regular);
					color      : var(--gris-medio);
				}

	body > div {
		width   : calc(100% - 350px);
		height  : 100vh;
		position: absolute;
		right   : 0px;
		top     : 0px;
	}

		body > div > header {
			width                : 100%;
			height               : 100%;
			position             : relative;
			background-image     : url('../imagenes/cabecera/fondo.jpg');
			background-size      : cover;
			background-position  : center;
			background-attachment: fixed;
		}

			body > div > header > div {
				position: absolute;
				left    : 80px;
				bottom  : 120px;
			}

				body > div > header > div > h1 {
					color         : white;
					font-family   : var(--oswaldo);
					font-weight   : var(--oswaldo-gruesa);
					font-size     : 5em;
					text-transform: uppercase;
					white-space   : pre-line;
					line-height   : 0.85em;
					margin-bottom : 40px;
				}

					body > div > header > div > h1 > span {
						font-size: 0.85em;
					}

				body > div > header > div > sub {
					display    : inline-block;
					color      : white;
					font-family: var(--oswaldo);
					font-weight: var(--oswaldo-delgada);
					font-size  : 1.5em;
				}

	#nosotros {
		width                : 100%;
		height               : 100%;
		display              : flex;
		align-items          : center;
		justify-content      : center;
		flex-direction       : column;
		background-image     : url('../imagenes/nosotros/fondo.jpg');
		background-size      : cover;
		background-position  : center;
		background-attachment: fixed;
	}

		#nosotros > h1 {
			display       : inline-block;
			font-family   : var(--lato);
			font-weight   : var(--lato-gruesa);
			font-size     : var(--fuente-mediana);
			color         : white;
			text-transform: uppercase;
			margin-bottom : 20px;
			line-height   : 1em;
		}

		#nosotros > sub {
			display      : inline-block;
			color        : white;
			margin-bottom: 40px;
			font-family  : var(--roboto);
			font-weight  : var(--roboto-delgada);
			font-size    : 16px;
		}

		#nosotros > div {
			width          : 80%;
			display        : flex;
			flex-flow      : row wrap;
			justify-content: space-around;
			align-items    : flex-start;
		}

			#nosotros > div > figure {
				width          : calc(25% - 20px);
				display        : flex;
				align-items    : center;
				justify-content: center;
				flex-direction : column;
			}

			#nosotros > div > figure:nth-of-type(n+5) {
				margin-top: 40px;
			}

				#nosotros > div > figure > div {
					width          : 120px;
					height         : 120px;
					border-radius  : 50%;
					border         : 3px solid white;
					display        : flex;
					align-items    : center;
					justify-content: center;
					margin-bottom  : 10px;
				}

					#nosotros > div > figure > div > img {
						width: 50%;
					}

				#nosotros > div > figure > figcaption {
					text-align : center;
					font-family: var(--roboto);
					font-weight: var(--roboto-gruesa);
					color      : white;
				}

	#servicios {
		width                : 100%;
		height               : 100vh;
		position             : relative;
		display              : flex;
		align-items          : center;
		justify-content      : center;
		flex-direction       : column;
		padding              : 0px 80px;
		background-image     : url('../imagenes/servicios/fondo.jpg');
		background-size      : cover;
		background-position  : center;
		background-attachment: fixed;
	}

		#servicios > h1 {
			display       : inline-block;
			font-family   : var(--lato);
			font-weight   : var(--lato-gruesa);
			font-size     : var(--fuente-mediana);
			color         : white;
			text-transform: uppercase;
			margin-bottom : 20px;
			line-height   : 1em;
		}

		#servicios > div {
			width          : 100%;
			display        : flex;
			flex-flow      : row wrap;
			justify-content: space-between;
		}

			#servicios > div > figure {
				width          : calc(33.33333333333333% - 20px);
				display        : flex;
				flex-flow      : row wrap;
				justify-content: space-between;
				align-items    : center;
			}

			#servicios > div > figure:nth-of-type(n+4) {
				margin-top: 20px;
			}

				#servicios > div > figure > div:first-of-type {
					width           : calc(30% - 5px);
					background-color: var(--azul-base);
					border-radius   : 5px;
					padding         : 25px;
				}

				#servicios > div > figure > div:last-of-type {
					width: calc(70% - 5px);
				}

					#servicios > div > figure > div:last-of-type > figcaption {
						display       : inline-block;
						font-family   : var(--lato);
						font-weight   : var(--lato-gruesa);
						font-size     : 1em;
						color         : white;
						text-transform: uppercase;
						margin-bottom : 10px;
						line-height   : 1em;
					}

					#servicios > div > figure > div:last-of-type > p {
						font-family: var(--roboto);
						font-size  : 0.85em;
						font-weight: var(--roboto-delgada);
						color      : white;
						margin-bottom: 10px;
					}

					#servicios > div > figure > div:last-of-type > a {
						color        : white;
						font-family  : var(--roboto);
						font-size    : 0.85em;
						font-weight  : var(--roboto-regular);
						border-bottom: 1px solid white;
					}

	#casos-de-exito {
		width                : 100%;
		height               : 100vh;
		padding              : 0px 80px;
		display              : flex;
		align-items          : center;
		justify-content      : center;
		flex-direction       : column;
		background-image     : url('../imagenes/nosotros/fondo.jpg');
		background-size      : cover;
		background-position  : center;
		background-attachment: fixed;
	}

		#casos-de-exito > h1 {
			display       : inline-block;
			font-family   : var(--lato);
			font-weight   : var(--lato-gruesa);
			font-size     : var(--fuente-mediana);
			color         : white;
			text-transform: uppercase;
			margin-bottom : 20px;
			line-height   : 1em;
		}

		#casos-de-exito > div {
			width: 100%;
		}

			#casos-de-exito > div > div {
				width          : 100%;
				display        : flex;
				flex-flow      : row wrap;
				justify-content: space-between;
			}

			#casos-de-exito > div > div:first-of-type {
				margin-bottom: 10px;
			}

				#casos-de-exito > div > div > a {
					font-family        : var(--roboto);
					font-weight        : var(--roboto-ligera);
					height             : 200px;
					position           : relative;
					background-size    : cover;
					background-position: center;
					color              : white;
				}

					#casos-de-exito > div > div > a > div {
						width           : 100%;
						height          : 100%;
						background-color: rgba(0, 0, 0, 0.75);
						display         : flex;
						align-items     : center;
						justify-content : center;
						flex-direction  : column;
						opacity         : 0;
						transition      : var(--transicion);
					}

					#casos-de-exito > div > div > a:hover > div {
						opacity: 1;
					}

						#casos-de-exito > div > div > a > div > div {
							width          : 40px;
							height         : 40px;
							border         : 2px solid white;
							border-radius  : 50%;
							padding        : 5px;
							position       : relative;
							display        : flex;
							align-items    : center;
							justify-content: center;
							margin-bottom  : 10px;
						}

							#casos-de-exito > div > div > a > div > div > span {
								display         : block;
								width           : 75%;
								height          : 2px;
								background-color: white;
								position        : absolute;
							}

							#casos-de-exito > div > div > a > div > div > span:first-of-type {
								transform: rotate(90deg);
							}

				#casos-de-exito > div > div > a:nth-of-type(1),
				#casos-de-exito > div > div > a:nth-of-type(3) {
					width: calc(35% - 10px);
				}

				#casos-de-exito > div > div > a:nth-of-type(2) {
					width: 30%;
				}

	#presencia {
		width                : 100%;
		height               : 100vh;
		position             : relative;
		background-image     : url('../imagenes/presencia/fondo.jpg');
		background-size      : cover;
		background-position  : center;
		background-attachment: fixed;
	}

		#presencia > div:first-of-type {
			position      : absolute;
			left          : 80px;
			bottom        : 220px;
			display       : flex;
			align-items   : flex-start;
			flex-direction: column;
		}

			#presencia > div:first-of-type > h1 {
				color         : white;
				font-family   : var(--oswaldo);
				font-weight   : var(--oswaldo-gruesa);
				font-size     : 3em;
				text-transform: uppercase;
				white-space   : pre-line;
				line-height   : 1em;
				margin-bottom : 10px;
			}

				#presencia > div:first-of-type > h1 > span {
					font-size: 0.85em;
				}

			#presencia > div:first-of-type > sub {
				display      : inline-block;
				color        : white;
				font-family  : var(--oswaldo);
				font-weight  : var(--oswaldo-delgada);
				font-size    : 1.5em;
				margin-bottom: 10px;
			}

			#presencia > div:first-of-type > a {
				padding    : 10px 30px;
				border     : 1px solid white;
				color      : white;
				font-family: var(--roboto);
				font-weight: var(--roboto-delgada);
			}

		#presencia > div:last-of-type {
			width           : 100%;
			height          : 180px;
			background-color: #1b1b1b;
			position        : absolute;
			bottom          : 0px;
			left            : 0px;
			display         : flex;
			align-items     : center;
			justify-content : center;
			flex-direction  : column;
			padding         : 0px 80px;
		}

			#presencia > div:last-of-type > h2 {
				font-family  : var(--roboto);
				font-weight  : var(--roboto-regular);
				color        : white;
				margin-bottom: 10px;
			}

			#presencia > div:last-of-type > ul {
				list-style     : none;
				width          : 100%;
				display        : flex;
				flex-flow      : row wrap;
				justify-content: space-between;
				align-items    : center;
			}

				#presencia > div:last-of-type > ul > li {
					display: block;
					width: calc(25% - 40px);
				}

	#contacto {
		width                : 100%;
		height               : 100vh;
		position             : relative;
		background-image     : url('../imagenes/servicios/fondo.jpg');
		background-size      : cover;
		background-position  : center;
		background-attachment: fixed;
	}

		#contacto > div {
			width          : 100%;
			height         : calc(100% - 300px);
			position       : relative;
			display        : flex;
			align-items    : center;
			justify-content: center;
			flex-direction : column;
			padding        : 0px 80px;
		}

			#contacto > div > h1 {
				display       : inline-block;
				font-family   : var(--lato);
				font-weight   : var(--lato-gruesa);
				font-size     : var(--fuente-mediana);
				color         : white;
				text-transform: uppercase;
				margin-bottom : 20px;
				line-height   : 1em;
			}

			#contacto > div > div {
				width          : 100%;
				display        : flex;
				flex-flow      : row wrap;
				justify-content: space-between;
				align-items    : center;
			}

				#contacto > div > div > ul {
					list-style: none;
					width     : calc(25% - 20px);
				}

					#contacto > div > div > ul > li {
						margin-bottom: 15px;
						color        : white;
					}

					#contacto > div > div > ul > li:last-of-type {
						margin-bottom: 0px;
					}

						#contacto > div > div > ul > li > strong {
							display    : block;
							font-family: var(--lato);
							font-weight: var(--lato-gruesa);
						}

						#contacto > div > div > ul > li > span {
							display    : block;
							font-family: var(--lato);
							font-weight: var(--lato-sencilla);
						}

						#contacto > div > div > ul > li > a {
							color      : white;
							font-family: var(--lato);
							font-weight: var(--lato-sencilla);
							transition : var(--transicion);
						}

						#contacto > div > div > ul > li > a:hover {
							color: var(--azul-base);
						}

				#contacto > div > div > form {
					width          : calc(75% - 20px);
					display        : flex;
					flex-flow      : row wrap;
					justify-content: space-between;
				}

					#contacto > div > div > form > div {
						width        : 100%;
						margin-bottom: 10px;
					}

					#contacto > div > div > form > div:nth-of-type(-n+4) {
						width: calc(50% - 5px);
					}

					#contacto > div > div > form > div:last-of-type {
						width          : 100%;
						margin-bottom  : 0px;
						display        : flex;
						justify-content: flex-end;
					}

						#contacto > div > div > form > div > input,
						#contacto > div > div > form > div > textarea {
							width           : 100%;
							border          : none;
							padding         : 10px;
							border-radius   : 5px;
							background-color: white;
							font-family     : var(--roboto);
							font-weight     : var(--roboto-ligera);
							color           : black;
						}

						#contacto > div > div > form > div > input::placeholder,
						#contacto > div > div > form > div > textarea::placeholder {
							font-family: var(--roboto);
							font-weight: var(--roboto-ligera);
							color      : black;
						}

						#contacto > div > div > form > div > button {
							font-family     : var(--lato);
							font-weight     : var(--lato-gruesa);
							text-transform  : uppercase;
							width           : calc(50% - 10px);
							padding         : 10px;
							text-align      : center;
							color           : white;
							background-color: var(--azul-base);
							border-radius   : 5px;
							transition      : var(--transicion);
						}

						#contacto > div > div > form > div > button:hover {
							background-color: black;
						}

		#contacto > map {
			display: block;
			width  : 100%;
			height : 300px;
		}

	#nav {
		width           : 40px;
		height          : 40px;
		background-color: var(--azul-base);
		display         : none;
		position        : fixed;
		top             : 20px;
		left            : 20px;
		padding         : 5px;
		transition      : var(--transicion);
		z-index         : 110;
	}

		#nav > span {
			display         : block;
			width           : 100%;
			height          : 1px;
			background-color: white;
			margin-bottom   : 6px;
			transition      : var(--transicion);
		}

		#nav > span:last-of-type {
			margin-bottom: 0px;
		}


	service {
		display : block;
		width   : 100%;
		height  : 100vh;
		position: relative;
	}

		service > service-header {
			display            : flex;
			align-items        : center;
			justify-content    : center;
			width              : 100%;
			height             : 25%;
			background-image   : url('../imagenes/servicios/cabecera.jpg');
			background-size    : cover;
			background-position: center;
		}

			service > service-header > h1 {
				color          : white;
				display        : flex;
				align-items    : center;
				justify-content: center;
				flex-direction : column;
				line-height    : 1.1em;
			}

				service > service-header > h1 > span {
					font-family   : var(--lato);
					text-transform: uppercase;
					color         : #9b9b9b;
				}

				service > service-header > h1 > strong {
					font-family   : var(--lato);
					text-transform: uppercase;
					font-size     : 1.25em;
				}

		service > service-body {
			width          : 100%;
			height         : 50%;
			position       : relative;
			display        : flex;
			flex-flow      : row wrap;
			justify-content: space-between;
			align-items    : center;
			padding        : 0px 80px;
		}

			service > service-body > div:first-of-type {
				width: calc(70% - 20px);
			}

			service > service-body > div:last-of-type {
				width: calc(30% - 20px);
			}

				service > service-body > div > h2 {
					font-family   : var(--lato);
					text-transform: uppercase;
					color         : var(--azul-base);
					font-size     : 1.5em;
				}

				service > service-body > div > time {
					font-family   : var(--lato);
					text-transform: uppercase;
					color         : #9b9b9b;
					font-size     : 0.85em;
					margin-bottom : 20px;
					display       : inline-block;
				}

				service > service-body > div > p {
					font-family  : var(--roboto);
					font-weight  : var(--roboto-ligera);
					margin-bottom: 20px;
					text-align   : justify;
				}

				service > service-body > div > p:last-of-type {
					margin-bottom: 0px;
				}

		service > service-footer {
			display            : flex;
			flex-flow          : row wrap;
			justify-content    : space-between;
			align-items        : center;
			width              : 100%;
			height             : 25%;
			padding            : 0px 80px;
			background-image   : url('../imagenes/nosotros/fondo.jpg');
			background-size    : cover;
			background-position: center;
		}

			service > service-footer > hgroup > h3 {
				color         : white;
				font-family   : var(--oswaldo);
				font-weight   : var(--oswaldo-gruesa);
				text-transform: uppercase;
				font-size     : 2.5em;
			}

			service > service-footer > hgroup > h4 {
				color         : white;
				font-family   : var(--oswaldo);
				font-weight   : var(--oswaldo-delgada);
				text-transform: uppercase;
			}

			service > service-footer > a {
				border     : 1px solid white;
				font-family: var(--roboto);
				font-weight: var(--roboto-regular);
				padding    : 10px 20px;
				color      : white;
			}

	ss {
		display : block;
		width   : 100%;
		height  : 100vh;
		position: relative;
	}

		ss > ss-body {
			display                : flex;
			align-items            : center;
			justify-content        : center;
			flex-direction         : column;
			width                  : 100%;
			height                 : 75%;
			position               : relative;
			background-image       : url('../imagenes/nosotros/fondo.jpg');
			-webkit-background-size: cover;
			background-size        : cover;
			background-position    : center;
			padding                : 0px 80px;
		}

			ss > ss-body > hgroup {
				display        : flex;
				align-items    : center;
				justify-content: center;
				flex-direction : column;
				margin-bottom  : 40px;
			}

				ss > ss-body > hgroup > h1 {
					color         : var(--gris-medio);
					font-family   : var(--lato);
					font-weight   : var(--lato-gruesa);
					text-transform: uppercase;
					font-size     : 1.5em;
				}

				ss > ss-body > hgroup > h2 {
					color         : white;
					font-family   : var(--lato);
					font-weight   : var(--lato-gruesa);
					text-transform: uppercase;
					font-size     : 1.75em;
				}

			ss > ss-body > div {
				width          : 100%;
				display        : flex;
				flex-flow      : row wrap;
				justify-content: space-between;
				align-items    : center;
			}

				ss > ss-body > div > div {
					width      : calc(50% - 20px);
					font-family: var(--roboto);
					font-weight: var(--roboto-ligera);
					color      : white;
				}

					ss > ss-body > div > div > ul {
						padding-left : 16px;
						margin-bottom: 20px;
					}

						ss > ss-body > div > div > ul > li {
							margin-bottom: 5px;
						}

						ss > ss-body > div > div > ul > li:last-of-type {
							margin-bottom: 0px;
						}

					ss > ss-body > div > div > p {
						text-align: justify;
					}

		ss > ss-footer {
			display         : flex;
			flex-flow       : row wrap;
			justify-content : space-between;
			align-items     : center;
			padding         : 0px 80px;
			width           : 100%;
			height          : 25%;
			background-color: #202020;
			position        : relative;
		}

			ss > ss-footer > hgroup > h3 {
				color         : white;
				font-family   : var(--oswaldo);
				font-weight   : var(--oswaldo-gruesa);
				text-transform: uppercase;
				font-size     : 2.5em;
			}

			ss > ss-footer > hgroup > h4 {
				color         : white;
				font-family   : var(--oswaldo);
				font-weight   : var(--oswaldo-delgada);
				text-transform: uppercase;
			}

			ss > ss-footer > a {
				border     : 1px solid white;
				font-family: var(--roboto);
				font-weight: var(--roboto-regular);
				padding    : 10px 20px;
				color      : white;
			}

	nav-responsive {
		display         : none;
		flex-flow       : row wrap;
		justify-content : flex-start;
		align-items     : center;
		width           : 100%;
		height          : 60px;
		background-color: white;
		padding         : 0px 20px;
		position        : fixed;
		top             : 0px;
		left            : 0px;
		z-index         : 90;
	}

		nav-responsive > a {
			display: inline-block;
			height : 50px;
		}

			nav-responsive > a > img {
				height: 100%;
				width : auto;
			}

	.button-active {
		display        : flex !important;
		align-items    : center;
		justify-content: center;
		border-radius  : 50%;
	}

		.button-active > span {
			width     : 75% !important;
			position  : absolute;
			transition: var(--transicion);
		}

		.button-active > span:first-of-type {
			transform: rotate(45deg);
		}

		.button-active > span:nth-of-type(2) {
			opacity: 0;
		}

		.button-active > span:last-of-type {
			transform: rotate(-45deg);
		}

@media all and (orientation: landscape) and (max-width: 1370px) {
	body {
		overflow: visible;
	}

	body > nav {
		margin-left: -350px;
		transition : var(--transicion);
	}

	body > div {
		width: 100%;
	}

	body > div {
		position: static;
		width   : 100%;
	}

	#nav {
		display: block;
	}
}

@media all and (orientation: landscape) and (max-width: 740px) {
	body > nav > a {
		display: none;
	}

	body > nav > ol {
		display: none;
	}

	body > div > header {
		display        : flex;
		align-items    : center;
		justify-content: center;
	}

		body > div > header > div {
			position: static;
		}

			body > div > header > div > h1 {
				font-size    : 3em;
				margin-bottom: 20px;
			}

			body > div > header > div > sub {
				font-size: 1em;
			}

	#nosotros {
		height : auto;
		padding: 80px;
	}

		#nosotros > sub {
			margin-bottom: 20px;
			text-align   : center; 
		}

		#nosotros > div {
			width: 100%;
		}

	#servicios {
		height : auto;
		padding: 80px;
	}

		#servicios > div > figure {
			width        : calc(50% - 10px);
			margin-bottom: 20px;
		}

		#servicios > div > figure:nth-of-type(n+4) {
			margin-top: 0px;
		}

		#servicios > div > figure:nth-of-type(n+5) {
			margin-bottom: 0px;
		}

	#casos-de-exito {
		height : auto;
		padding: 80px;
	}

	#presencia {
		height : auto;
		padding: 80px;
	}

		#presencia > div:first-of-type {
			position     : static;
			margin-bottom: 40px;
		}

			#presencia > div:first-of-type > h1 {
				white-space  : normal;
				margin-bottom: 40px;
			}

		#presencia > div:last-of-type {
			position: static;
		}

	#contacto {
		height : auto;
		padding: 80px;
	}

		#contacto > div {
			padding      : 0px;
			margin-bottom: 20px;
		}

			#contacto > div > div > ul {
				width        : 100%;
				margin-bottom: 20px;
			}

			#contacto > div > div > form {
				width: 100%;
			}

				#contacto > div > div > form > div > button {
					width: 100%;
				}

		#contacto > map {
			height       : 250px;
			position     : static;
			margin-bottom: 40px;
		}

	service > service-header > h1 > span {
		font-size: 1em;
	}

	service > service-header > h1 > strong {
		font-size: 1.1em;
	}

	service > service-body {
		height: 75%;
	}

		service > service-body > div:first-of-type {
			width: 100%;
		}

			service > service-body > div > p {
				font-size: 0.85em;
			}

		service > service-body > div:last-of-type {
			display: none;
		}

	service > service-footer {
		display: none;
	}

	ss > ss-body {
		height: 100%;
	}

		ss > ss-body > hgroup {
			margin-bottom: 20px;
		}

			ss > ss-body > hgroup > h1 {
				font-size: 1.2em;
			}

			ss > ss-body > hgroup > h2 {
				font-size: 1.2em;
			}

		ss > ss-body > div > div {
			font-size: 0.85em;
		}

		ss > ss-body > div > div:first-of-type {
			display: none;
		}

		ss > ss-body > div > div:last-of-type {
			width: 100%;
		}

	ss > ss-footer {
		display: none;
	}
}

@media all and (orientation: portrait) and (max-width: 1030px) {
	body {
		overflow: visible;
	}

	body > div {
		width: 100%;
	}

	body > nav {
		margin-left: -350px;
		transition : var(--transicion);
	}

	body > div {
		position: static;
		width   : 100%;
	}

	#nav {
		display: block;
	}

	#nosotros > sub {
		padding   : 0px 80px;
		text-align: center;
	}

	#servicios > div > figure {
		width        : calc(50% - 10px);
		margin-bottom: 20px;
	}

	#servicios > div > figure:nth-of-type(n+4) {
		margin-top: 0px;
	}

	#presencia > div:first-of-type > h1 {
		white-space: normal;
	}

	#contacto > div > div > ul {
		width        : 100%;
		margin-bottom: 20px;
	}

	#contacto > div > div > form {
		width: 100%;
	}

		#contacto > div > div > form > div > button {
			width: 100%;
		}
}

@media all and (orientation: portrait) and (max-width: 770px) {
	ss > ss-body {
		height: 100%;
	}

		ss > ss-body > div > div {
			width: 100%;
		}

		ss > ss-body > div > div:first-of-type {
			margin-bottom: 40px;
		}

	ss > ss-footer {
		display: none;
	}
}

@media all and (orientation: portrait) and (max-width: 420px) {
	#nav {
		left : auto;
		top  : 10px;
		right: 20px;
	}

	body > nav {
		width      : 100%;
		margin-left: -100%;
	}

		body > nav > a {
			height: 150px;
		}

		body > nav > ol {
			bottom: 20px;
		}

	body > div > header {
		display        : flex;
		align-items    : center;
		justify-content: center;
		padding        : 0px 20px;
	}

		body > div > header > div {
			width: 100%;
			position: static;
		}

			body > div > header > div > h1 {
				font-size    : 2.5em;
				text-align   : center;
				margin-bottom: 20px;
			}

			body > div > header > div > sub {
				text-align: center;
				font-size : 1em;
			}

	#nosotros {
		padding: 0px 20px;
	}

		#nosotros > h1 {
			font-size: 1.5em;
		}

		#nosotros > sub {
			display: none;
		}

		#nosotros > div {
			width: 100%;
		}

			#nosotros > div > figure {
				width        : calc(33.3333333% - 10px);
				margin-bottom: 20px;
			}

				#nosotros > div > figure > div {
					width : 60px;
					height: 60px;
				}

				#nosotros > div > figure > figcaption {
					font-weight: var(--roboto-ligera);
					font-size  : 0.75em;
				}

			#nosotros > div > figure:nth-of-type(n+5) {
				margin-top: 0px;
			}

			#nosotros > div > figure:last-of-type {
				margin-bottom: 0px;
			}

	#servicios {
		padding: 0px 20px;
	}

		#servicios > h1 {
			font-size: 1.5em;
		}

		#servicios > div > figure {
			flex-flow      : row nowrap;
			align-items    : center;
			justify-content: center;
			flex-direction : column;
		}

			#servicios > div > figure > div:first-of-type {
				width        : 35%;
				padding      : 5px;
				margin-bottom: 10px;
			}

			#servicios > div > figure > div:last-of-type {
				width          : 100%;
				display        : flex;
				align-items    : center;
				justify-content: center;
				flex-direction : column;
			}

				#servicios > div > figure > div:last-of-type > figcaption {
					width     : 100%;
					text-align: center;
				}

				#servicios > div > figure > div:last-of-type > p {
					text-align: center;
				}

	#casos-de-exito {
		padding: 0px 20px;
	}

		#casos-de-exito > h1 {
			font-size: 1.5em;
		}

	#presencia {
		padding        : 0px 20px;
		display        : flex;
		align-items    : center;
		justify-content: center;
	}

		#presencia > div:first-of-type {
			position: static;
			align-items: center;
			justify-content: center;
		}

			#presencia > div:first-of-type > h1 {
				white-space: normal;
				font-size  : 1.5em;
				text-align : center;
			}

			#presencia > div:first-of-type > sub {
				font-size : 1em;
				text-align: center;
			}

		#presencia > div:last-of-type {
			display: none;
		}

	#contacto {
		padding: 40px 20px;
	}

		#contacto > div {
			padding: 0px;
			height : calc(100% - 150px);
		}

			#contacto > div > h1 {
				font-size: 1.5em;
			}

		#contacto > map {
			position     : static;
			height       : 150px;
			margin-bottom: 20px;
		}

	service {
		margin-top: 60px;
		height    : auto;
	}

		service > service-header {
			padding: 20px 0px;
		}

		service > service-body {
			padding: 20px;
		}

			service > service-body > div:first-of-type {
				width: 100%;
			}

			service > service-body > div:last-of-type {
				display: none;
			}

		service > service-footer {
			display: none;
		}

	ss > ss-body {
		padding: 0px 20px;
	}

		ss > ss-body > hgroup > h1 {
			font-size: 1.1em;
		}

		ss > ss-body > hgroup > h2 {
			font-size : 1.2em;
			text-align: center;
		}

	nav-responsive {
		display: flex;
	}
}